{% extends 'modular/partials/base.html.twig' %}
{% set blog = theme_var('root_of_blog', null, null, true)|e %}
{% set collection = page.collection() %}
{% set show_pagination = theme_var('show_pagination', true)|e %}

{% block body %}
  <section class="flex-1 bg-gray-100 dark:bg-gray-800">
    <div class="">
      {{ block('content_surround') }}
    </div>
  </section>

{% endblock %}

{% block module_content %}

  {% include 'modular/partials/title.html.twig' with {include_content: false} %}

  <div class="{{ hero_display ? 'pt-0' : 'pt-16' }}">

    {% embed 'modular/partials/layout.html.twig' %}

      {% block items %}

        <div class="flex flex-wrap -mx-4">
          {% for post in collection %}
            {% include "modular/partials/post-item.html.twig" with {page: post} %}
          {% endfor %}
        </div>

        {% if config.plugins.pagination.enabled %}
          <div class="flex justify-center w-full p-6 mx-auto">
            {% include '/partials/pagination.html.twig' with {base_url: base_url_relative, pagination: collection.params.pagination} %}
          </div>
        {% endif %}
        
      {% endblock %}

    {% endembed %}

  </div>

  {# <div class="mt-3 text-base md:text-lg lg:text-xl prose text-center">
    <p><a href="/airoots-archive" class="btn mt-4 w-content block">Explore Our Archives</a></p>
  </div> #}

  {% if page.content %}
    <div class="mt-3 text-base md:text-lg lg:text-xl prose text-center">
      {{ page.content|raw }}
    </div>
  {% endif %}

{% endblock %}