{% extends 'modular/partials/base.html.twig' %}
{% set blog = theme_var('root_of_blog', null, null, true)|e %}
{% set collection = page.collection() %}
{% set show_pagination = theme_var('show_pagination', true)|e %}

{% block body %}
  <section class="flex-1 bg-gray-100 dark:bg-gray-800">
    <div class="">
      {{ block('content_surround') }}
    </div>
  </section>
{% endblock %}

{% block module_content %}

  {% include 'modular/partials/title.html.twig' with {include_content: true} %}

  <div class="{{ hero_display ? 'pt-0' : 'pt-16' }}">

    {% embed 'modular/partials/layout.html.twig' %}

      {% block items %}

        <div class="flex flex-wrap -mx-4">
          {% for post in collection %}
            {% include "modular/partials/post-item.html.twig" with {page: post} %}
          {% endfor %}
        </div>

        {% if config.plugins.pagination.enabled %}
          <div class="flex justify-center w-full p-6 mx-auto">
            {% include 'modular/partials/pagination.html.twig' with {base_url: blog.url, pagination: collection.params.pagination} %}
          </div>
        {% endif %}

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
