cache/*
!cache/.gitkeep 

tmp/*
!tmp/.gitkeep 

backup/*
!backup/.gitkeep 

images/*
!images/.gitkeep

user/data/*
!user/data/.gitkeep 

plugins/*
!plugins/.gitkeep 

logs/*
!logs/.gitkeep 

themes/*
!themes/.gitkeep 

user/data/*
!user/data/.gitkeep

user/accounts/*
!user/accounts/.gitkeep

user/config/security.yaml